{% extends "sitio/layout.html" %}

{% block content %}
    <section class="row mt-3">

        <!-- Titulo -->
        <div class="col-12 mb-4 text-center text-center text-md-left">
            <h3 class="display-4">GRUPOCERO</h3>
            <h4 class="h4 mt-3">Nosotros...</h4>
            <p>- Somos una pequeña comunidad de vecinos que nos dedicamos a vender los productos para facilitar la jardinera y productos para dedicarse a la jardineria tales como las plantas de nuestro stock de Productos. -</p>
            <p>- Anteriormente vendiamos por paginas sociales tales como facebook e instagram, ya que no dabamos a basto para responder a toda la gente que nos hablaba nos tuvimos que mover a esta pagina web para agilizar mas nuestras respuestas al publico interesado. -</p>
            
        </div>
        
    </section>
{% endblock %}