<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Producto detalle</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'planta/styles.css' %}"
    />
  </head>
  <body>
    <section class="landing-section">
      <h1 class="brand">
        Mi producto es {{ Producto.titulo }}. su tipo es {{ Producto.imagen }}. su descripcion {{ Producto.descripcion }}. precio producto {{ Producto.precio }}
      </h1>
    </section>
  </body>
</html>
